---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{pageTitle}</title>
    <meta
      name="description"
      content="Software developer passionate about the IT world and everything related to it"
    />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/images/profile.webp" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap"
      as="style"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap"
      rel="stylesheet"
    />
    <link rel="me" href="https://mastodon.uno/@dvalin99" />
  </head>
  <body>
    <Header />
    <main class="fade-in paragraph__general">
      <slot />
      <Footer />
    </main>
    <script>
      function colorMode() {
        if (
          localStorage.theme === "light" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: light)").matches)
        ) {
          document.documentElement.classList.add("light");
        } else {
          document.documentElement.classList.remove("light");
        }
      }

      colorMode();
      document.addEventListener("astro:after-swap", colorMode);
    </script>
  </body>
</html>
